@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(125, 107, 241);
}
.content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .4);
}
.signin-text{
    font-style: normal;
    font-weight: 600 !important;
}
.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: slateblue !important;
    border-style: solid !important;
    border-width:  0 0 1px 0  !important;
    color: slateblue;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    padding: 0px !important;
}
.form-control:focus{
    color: slateblue;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.btn-class{
    border-color: slateblue;
    color: slateblue;
}
.btn-class:hover{
    background-color: slateblue;
}